.grid-container {
  display: grid;
  width: 100%;
  border: 1px solid #ccc;
  min-height: 60vh;
}

.grid-container .grid-item {
  background-color: white;
  border: 1px solid #eee;
  overflow: hidden; 
}

.grid-container .empty.grid-item:hover,
.grid-container .empty.grid-item:active {
  background-color: rgb(0,210,250);
  border: 1px solid rgb(0,160,200);
}